extends ../layouts/common.pug
block content

    .wrapper.fadeInDown
        #formContent
            // Tabs Titles
            // Icon
            .fadeIn.first
            if errors
                each error in errors
                    .alert.alert-danger= error
            // Login Form
            form(method="POST")
                input#login.fadeIn.second(type='text' name='email' placeholder='login')
                input#password.fadeIn.third(type='password' name='password' placeholder='password')
                input.fadeIn.fourth(type='submit' value='Log In')
            // Remind Passowrd
            #formFooter
                a.underlineHover(href='#') Forgot Password?
